<div class="home-page">
<img src="https://cdn.lloydpest.com/wp-content/uploads/2017/06/lpc_logo.png" alt="Lloy Pest Control Logo" />
  <h1>Lloyd Pest Control</h1>
  <h3>DATABASE (Ruby on Rails)</h3>
  <p>Copyright &copy; 2022 - Gluay S. Wang</p>
</div>
