.home-page {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10%;
}
.home-page img {
    padding-bottom: 5%;
    width: 30%;
}
.home-page h1 {
    font-size: 5.5rem;
    color: #005e9b;
}
.home-page h3 {
    font-size: 2.5rem;
    padding-bottom: 7%;
}
.home-page p {
    color: #005e9b;
}
.nav-container {
    width: 100%;
    margin: 0 auto;
}
h1 {
    color:rgb(47, 47, 47);
}
.nav {
    justify-content: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    border-bottom:rgb(47, 47, 47) solid 1px;
}
.nav-item {
    margin-right:2.5%;
}
.nav-item a {
    text-decoration: none;
    font-size: 1.25rem;
    color: #005e9b;
}
.nav-item a:hover {
    color: #067fcf;
}
.upload-container {
    text-align: center;
    padding: 5% 0 15% 0;
}
.upload-container h4 {
    margin-bottom: 2%;
}
.download-container {
    text-align: center;
    padding: 5% 0 0 0;
}
.download-container button {
   border: 1px solid gray;
}
.download-container button a {
    color: black;
    text-decoration: none;
}
.table a, .add-btn a {
    text-decoration: none;
    color: #005e9b;
}


.timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    
  }
  
  .timer__part {
    font-size: 36px;
    font-weight: bold;
  }
  
  .timer__btn {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #8208e6;
    cursor: pointer;
  }
  
  .timer__btn--start {
    background: #00b84c;
  }
  
  .timer__btn--stop {
    background: #ff0256;
  }
  